:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* style card*/
 .custom-card-content1 {
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
}
.custom-card-content1 .ant-card-head{
  background-color: #6ad8b3;
  color: #ffffff;

  /* height: 100vh; 
  display: flex;
  flex-direction: column;  */
}
.custom-card-content2 .ant-card-head{
  background-color: #6ad8b3;
  color: #ffffff;
}
.custom-card-content3 .ant-card-head{
  background-color: #6ad8b3;
  color: #ffffff;
}
 /* .custom-card-content1 .ant-card-body {
  background-color: #ade6f0;
  color: #ffffff;

  height: 100vh;
  flex-grow: 1; 
  overflow-y: auto; 
 } */

.custom-card-content1 .ant-card-body {
  flex-grow: 1; /* Make the body take the remaining space */
  overflow-y: auto; /* Enable scrolling if the content exceeds the available height */
  background-color: #ade6f0; /* Background color for the content */
  color: #ffffff; /* Text color */
}

 .custom-card-content2 .ant-card-body {
  background-color: #ade6f0;
  color: #ffffff;
 }

 .custom-card-content3 .ant-card-body {
  background-color: #aaeeaa;
  color: #ffffff;
 }
 .custom-card-card1 .ant-card-body {
  background-color: #f7f8f7;
  color: #ffffff;
 }